<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>bXom 🏆</title>
    <style type="text/css">
      #test1 {
        background-color: sienna;
        /* height: 200px; */
        width: 26%;
        float: left;
      }
      #test2 {
        background-color: seagreen;
        height: 200px;
        width: 50%;
        float: right;
      }
      .content {
        /* padding: 10px 10px 10px 10px; */
        font-size: 130%;
        font-family: 'Courier New', Courier, monospace;
        width: 95%;
        /* margin-left: auto;
        margin-right: auto; */
      }
      #gallery {
        width: 95%;
        /* margin-left: auto;
        margin-right: auto; */
      }
    </style>
  </head>
  
  <body>
    <div id="test1">
        <div class="content">Hey dude!</div>
        <div class="content">This is bXom's homepage.</div>
        <div class="content">I live in China and work as a software engineer.</div>
        <img id="gallery" src="/img/homepage.jpg"/>
    </div>
    <div id="test2"></div>
  </body>
</html>